<div class="container mt-5 mb-5">
  <div class="text-center">
    <h4 class="email-form-title" id="signupForm">
      Sign-Up for Gold Price Update
    </h4>
  </div>
  <div class="text-center">
    <p id="email-form-pera">
      Get daily gold price updates delivered to your inbox, You will receive a
      Email Everyday with Daily Gold Price and last 10 Days Price History
    </p>
  </div>
  <form class="email-form validated-form" action="/signup" method="post">
    <div class="mb-2">
      <label for="InputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control form-control-sm"
        id="InputEmail1"
        aria-describedby="emailHelp"
        name="email"
        required
      />
    </div>
    <div>
      <p id="form-label">Enter a valid email address</p>
    </div>
    <div class="text-center mt-1">
      <button type="submit" class="btn btn-outline-dark email-btn mx-auto">
        Sign Up
      </button>
    </div>
  </form>
</div>
