<div class="paragraphs mt-5">
  <h4 class="text-center paragraph-title mb-3">
    Interesting information about Gold
  </h4>
  <!-- What is 24 Karat Gold -->
  <div class="k24-gold">
    <h4 class="paragraphs-header">What is 24 Karat Gold:</h4>
    <p id="para-24k" class="paragraphs_content">
      In essence, 24 Karat gold is the purest form, containing 99.9% gold
      without any other metal. It has a deep yellow hue and is globally
      acknowledged as superior. In Chennai, there's a significant demand for
      24-karat gold, often seen in Coins and Bars. While prized for its purity,
      24 Karat gold is relatively soft, making it less suitable for durable
      jewelry. Instead, it finds value in medical devices like Gold Tympanostomy
      Tubes used in procedures for children with ear infections.
    </p>
  </div>

  <!-- What is 22 Karat Gold -->
  <div class="k22-gold">
    <h4 class="paragraphs-header">What is 22 Karat Gold:</h4>
    <p class="paragraphs_content">
      Unlike 24 Karat gold, which is very pure, 22 Karat gold is a mix of pure
      gold and other metals like Zinc, Silver, Nickel, and alloys. It's about
      <strong> 91.67% pure gold and 8% other metals. </strong>
      This mixture makes 22 Karat gold harder than 24 Karat gold,
      <strong
        >making it a good choice for durable and detailed jewelry that you can
        wear every day.
      </strong>
    </p>
  </div>

  <!-- Tax on sale of Gold -->
  <div class="Tax-on-sale-of-Gold">
    <h4 class="paragraphs-header">Tax on sale of Gold</h4>
    <p class="paragraphs_content">
      Taxes apply to gold, including capital gains tax and wealth tax. If you
      thought there were no taxes applicable to gold, you are making a mistake.
      <strong
        >If your gold value exceeds Rs 30 lakhs, you must pay a wealth tax of 1%
        of the value for that financial year.</strong
      >
      Valuation needs to be done by March 31, 2017, regardless of the purchase
      rates in Chennai.
    </p>
  </div>

  <!-- Gold as an Investment -->
  <div class="gold-as-investment">
    <h4 class="paragraphs-header">Gold as a Investment</h4>
    <p class="paragraphs_content">
      Gold serves as a safety net, especially in tough financial times. It can
      be sold for urgent needs, ensuring a return on investment. Passed down
      through generations, gold holds special significance in families.
    </p>
    <p class="paragraphs_content">
      <strong>Jewelry:</strong> In Chennai, gold jewelry is a popular choice,
      especially for weddings, reflecting a cherished tradition.
    </p>
    <p class="paragraphs_content">
      <strong>Bullion:</strong> Some prefer investing in gold bars, known as
      bullion, with value determined by purity and weight
    </p>
    <p class="paragraphs_content">
      <strong>Coins:</strong> Investors also opt for gold coins, available in
      various weights and types, providing flexibility.
    </p>
    <p class="paragraphs_content">
      <strong>Commodity Exchange:</strong> Gold is treated as a wealth-creating
      commodity, traded on platforms like NCDEX and MCX for different durations.
    </p>
  </div>

  <!-- Tips to Know Before Investing in Gold -->
  <div class="tips-to-invets">
    <h4 class="paragraphs-header">Tips to Know Before Investing in Gold</h4>
    <div class="mb-3 single-line">
      <p>
        <span class="paragraphs_content mb-0">
          <strong>1. Research Gold Prices:</strong> Before investing in gold,
          research current prices in Chennai. Websites like Gold-Price-Tracker
          or
        </span>
        <a class="signupLink" href="#signupForm">Sign up</a>
        <span class="paragraphs_content">
          for Daily Gold Price Update, allowing you to compare Chennai's gold
          rates with other cities in India.
        </span>
      </p>
    </div>

    <p class="paragraphs_content">
      <strong>2.Buy Gold from Reputable </strong>: Purchase gold from trusted
      dealers in Chennai for quality assurance at fair prices. Developing
      relationships with reliable dealers is crucial for secure investments.
    </p>
    <p class="paragraphs_content">
      <strong>3. Consider Gold ETFs: </strong> Explore gold exchange-traded
      funds (ETFs) for investment without physical ownership. These traded funds
      offer a convenient way to diversify portfolios.
    </p>
    <p class="paragraphs_content">
      <strong>4. Invest for Long-Term: </strong> Gold tends to appreciate over
      time, making long-term investment strategies advisable. This approach
      allows investors to capitalize on gold's appreciation potential.
    </p>
    <p class="paragraphs_content">
      <strong>5. Diversify Your Portfolio: </strong> Avoid concentrating
      investments solely in gold. Diversifying portfolios with other assets
      helps mitigate risks and achieve a balanced investment strategy.
    </p>
  </div>
  <!-- Goal as an asset -->
  <div class="goal-as-asset">
    <h4 class="paragraphs-header">Goal as a asset</h4>
    <p class="paragraphs_content">
      Investing in gold is a smart choice for those seeking a secure and
      reliable option. Gold, known for safeguarding against inflation and
      economic uncertainties, acts as a safety net for investments. Historically
      significant in the monetary systems of various countries, including India,
      Britain, and the United States, gold offers diverse investment avenues.
      These include purchasing physical gold (24-karat or 22-karat), gold coins,
      or bars, along with options like Mutual Funds, ETFs with gold, Gold
      Options/Gold Futures, and shares in gold-mining companies.
    </p>

    <p class="paragraphs_content">
      Investors can choose from various types of gold, including:
    </p>

    <p class="paragraphs_content">
      - Physical gold (24-karat gold, 22-karat gold, gold coins, bars)
    </p>
    <p class="paragraphs_content">
      - Mutual Funds and ETFs with gold ownership
    </p>
    <p class="paragraphs_content">- Shares in gold-mining public companies</p>
    <p class="paragraphs_content">- Sovereign Gold Bond Schemes.</p>
  </div>
</div>
