<div class="paragraphs mt-5">
  <h4 class="text-center paragraph-title mb-3">
    Interesting Information About Gold
  </h4>

  <!-- Paragraph with Image on the Right -->
  <div class="row align-items-center section mb-5 mt-3">
    <div class="col-md-6">
      <h4 class="paragraphs-header">What is 24 Karat Gold:</h4>
      <p class="paragraphs_content">
        In essence, 24 Karat gold is the purest form, containing 99.9% gold
        without any other metal. It has a deep yellow hue and is globally
        acknowledged as superior. In Chennai, there's a significant demand for
        24-karat gold, often seen in Coins and Bars.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="img/gold-image-1.jpg"
        class="img-fluid"
        alt="24 Karat Gold Image"
      />
    </div>
  </div>

  <!-- Paragraph with Image on the Left -->
  <div class="row align-items-center section mb-5">
    <div class="col-md-6 order-md-2">
      <h4 class="paragraphs-header">What is 22 Karat Gold:</h4>
      <p class="paragraphs_content">
        22 Karat gold is a mix of pure gold and other metals like Zinc, Silver,
        Nickel, and alloys. It's about 91.67% pure gold, making it harder and a
        good choice for durable jewelry.
      </p>
    </div>
    <div class="col-md-6 order-md-1">
      <img
        src="/img/gold-image-2.jpg"
        class="img-fluid"
        alt="22 Karat Gold Image"
      />
    </div>
  </div>

  <div class="row align-items-center section mb-5">
    <div class="col-md-6">
      <h4 class="paragraphs-header">Tax on sale of Gold</h4>
      <p class="paragraphs_content">
        Taxes apply to gold, including capital gains tax and wealth tax. If you
        thought there were no taxes applicable to gold, you are making a
        mistake.
        <strong
          >If your gold value exceeds Rs 30 lakhs, you must pay a wealth tax of
          1% of the value for that financial year.</strong
        >
        Valuation needs to be done by March 31, 2017, regardless of the purchase
        rates in Chennai.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="img/gold-image-3.jpg"
        class="img-fluid"
        alt="24 Karat Gold Image"
      />
    </div>
  </div>

  <!-- Paragraph with Image on the Left -->
  <div class="row align-items-center section mb-5">
    <div class="col-md-6 order-md-2">
      <h4 class="paragraphs-header">Gold as a Investment</h4>
      <p class="paragraphs_content">
        Gold acts as a financial safety net, especially during tough times. It
        can be sold quickly for cash when needed. In many families, gold is
        passed down through generations and holds sentimental value.
      </p>
      <p class="paragraphs_content">
        <strong>Jewelry:</strong> In Chennai, gold jewelry is especially popular
        for weddings and holds cultural significance.
      </p>
      <p class="paragraphs_content">
        <strong>Bullion:</strong> : Gold bars (bullion) are valued based on
        their purity and weight, often chosen by serious investors
      </p>
      <p class="paragraphs_content">
        <strong>Coins:</strong>Gold coins, available in different sizes, provide
        flexibility for investors.
      </p>
      <p class="paragraphs_content">
        <strong>Commodity Exchange:</strong> Gold is traded as a valuable asset
        on exchanges like NCDEX and MCX.
      </p>
    </div>
    <div class="col-md-6 order-md-1">
      <img
        src="/img/gold-image-4.jpg"
        class="img-fluid"
        alt="22 Karat Gold Image"
      />
    </div>
  </div>

  <div class="row align-items-center section mb-5">
    <div class="col-md-6">
      <h4 class="paragraphs-header">Tips to Know Before Investing in Gold</h4>
      <div class="mb-3 single-line">
        <p>
          <span class="paragraphs_content mb-0">
            <strong>1.Check Gold Prices:</strong> Always check the latest gold
            prices in Chennai before buying. Use sites like Gold-Price-Tracker
            or
          </span>
          <a class="signupLink" href="#signupForm">Sign up</a>
          <span class="paragraphs_content">
            for daily updates to compare rates across cities.
          </span>
        </p>
      </div>

      <p class="paragraphs_content">
        <strong>2.Buy from Trusted Dealers: </strong>:Make sure to purchase gold
        from reputable dealers in Chennai for fair pricing and quality.
      </p>
      <p class="paragraphs_content">
        <strong>3. Consider Gold ETFs: </strong> Gold exchange-traded funds
        (ETFs) let you invest in gold without owning it physically. They are a
        good option for diversifying your portfolio.
      </p>
      <p class="paragraphs_content">
        <strong>4. Think Long-Term: </strong> Gold usually gains value over
        time, so long-term investments can offer better returns.
      </p>
      <p class="paragraphs_content">
        Diversify Your Investments:
        <strong>5.Diversify Your Investments: </strong> Don’t put all your money
        in gold. A mix of different investments helps balance risks.y.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="img/gold-image-5.jpg"
        class="img-fluid"
        alt="24 Karat Gold Image"
      />
    </div>
  </div>

  <!-- Paragraph with Image on the Left -->
  <div class="row align-items-center section mb-5">
    <div class="col-md-6 order-md-2">
      <h4 class="paragraphs-header">Goal as a asset</h4>
      <p class="paragraphs_content">
        Gold is a secure investment, protecting against inflation and economic
        uncertainties. It has been important in global financial systems,
        including in India, the UK, and the US. There are various ways to invest
        in gold, such as buying,<strong>
          Physical gold, ETFs, Shares in gold-mining companies, Sovereign Gold
          Bonds</strong
        >
      </p>
    </div>
    <div class="col-md-6 order-md-1">
      <img
        src="/img/gold-image-6.jpg"
        class="img-fluid"
        alt="22 Karat Gold Image"
      />
    </div>
  </div>
</div>
